[Unit]
Description=Runs print_test_page.service on a schedule to prevent ink from drying out
Documentation=https://www.freedesktop.org/software/systemd/man/systemd.timer.html

[Timer]
OnCalendar=Fri 12:00
Persistent=true
# Improves timer accuracy
AccuracySec=1min
Unit=print_test_page.service
# Ensures compatibility with LXC containers that have restricted access to realtime clock
TimersMonotonic=yes

[Install]
WantedBy=timers.target

