[Unit]
Description=Runs print_test_page.service on a schedule to prevent ink from drying out
Documentation=https://www.freedesktop.org/software/systemd/man/systemd.timer.html

[Timer]
# Run every 3 days
OnUnitActiveSec=3d
# Ensures missed executions run immediately on startup
Persistent=true
# Improves timer accuracy
AccuracySec=1min
Unit=print_test_page.service
# Ensures compatibility with LXC containers that have restricted access to realtime clock
TimersMonotonic=yes

[Install]
WantedBy=timers.target

